/* 
    OBS: Os atributos abaixo comentado foram subtituido por outro ou deletado durante a aula.
*/
div {
    background-color: #ff0000;
}

/* span {
    background-color: #00ff00;
} */

/* div span {
    background-color: #00ff00;
} */

.header span {
    background-color: #00ff00;
}

p {
    background-color: #0000ff;
}
